
{{ define "createbucket" }}
  {{ template "header" .}}
    <!-- Page Heading -->
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Buckets</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Bucket</li>
      </ol>
    </nav>
    <div class="row">

      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Body -->
          <div class="card-body">            
            <form action="/createbucketaction" method="post">
              <input type="text" name="bucketName" requir ed>
              <input type="submit" value="Upload" class="btn btn-primary" />
          </form>  
          </div>
        </div>
      </div>
      
    </div>
  {{ template "footer" }}
{{ end }}           
