
{{ define "createbucket" }}
  {{ template "header" .}}
    <!-- Page Heading -->
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Buckets</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Bucket</li>
      </ol>
    </nav>
    <div class="row">

      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Body -->
          <div class="card-body">            
            <form action="/createbucketaction" method="post">
              <div class="form-group">
                <label for="bucketName">Bucket Name</label>
                <input type="text" class="form-control" id="bucketName" aria-describedby="emailHelp" placeholder="Enter bucketname" name="bucketName">
                <small id="emailHelp" class="form-text text-muted">Please enter a valid bucket name.</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>  
          </div>
        </div>
      </div>
      
    </div>
  {{ template "footer" }}
{{ end }}           
