
{{ define "objectlist" }}
  {{ template "header" .}}
    <!-- Page Heading -->
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Buckets</a></li>        
        {{ if .FList }}
          <!-- if prefix is available bucketname is the active in breadcrumb -->
          <li class="breadcrumb-item"><a href="/objectlist?bucketName={{$.BName}}">{{ .BName}}</a></li>
        {{ else }}
          <!-- if prefix is available buckettname should have link -->
          <li class="breadcrumb-item active" aria-current="page">{{ .BName}}</li>
          &nbsp;&nbsp;<a href="/uploadfile?bucketName={{.BName}}&prefix={{.Prefix}}"><i class="mt-1 fa fa-upload"></i></a>
        {{ end }}        
        <!-- iterate over folder list  -->
        {{ range $ind, $fld := .FList }}
            {{ if (eq (add $ind 1) $.FCount) }}
              <li class="breadcrumb-item active" aria-current="page">{{ .Name}}
                &nbsp;<a href="/uploadfile?bucketName={{$.BName}}&prefix={{$.Prefix}}"><i class="mt-1 fa fa-upload"></i></a>
              </li>
            {{ else }}
              <li class="breadcrumb-item"><a href="/objectlist?bucketName={{$.BName}}&prefix={{ .PrevPrefix}}">{{ .Name}}</a></li>
            {{ end }}
         {{ end }} 
        <!-- <li class="breadcrumb-item">
          <a href="/uploadfile?bucketName={{.BName}}"><i class="mt-1 fa fa-upload"></i></a></li> -->
      </ol>
    </nav>
    <div class="row">

      <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
          <!-- Card Body -->
          <div class="card-body">            
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Last Modified</th>
                  <th scope="col">Size</th>
                  <th scope="col">Storage Class</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{ range $index, $a := .OList }}
                <tr>
                  <th scope="row">{{add $index 1}}</th>
                  <td>
                    <!-- If file, need to show file details, if folder, show inside folder -->
                    {{ if (eq .Type "Folder") }}
                      <a  href="/objectlist?bucketName={{$.BName}}&prefix={{ .Key}}">{{ .Name}}</a>                    
                    {{ else }}
                      <a  href="/objectdetails?bucketName={{$.BName}}&fileName={{ .Key}}">{{ .Name}}</a>
                    {{ end }}                   
                  </td>
                  <td>{{ .LastModified}}</td>
                  <td>{{ .Size}}</td>
                  <td>{{ .StorageClass}}</td>
                  <td>
                    {{ if (eq .Type "File") }}
                     <a href="/downloadfileaction?bucketName={{$.BName}}&prefix={{ .Key}}&fileName={{ .Key}}"><i class="fa fa-download"></i></a>
                     &nbsp;
                    {{ end }}  
                    <a href="#" class="trigger-btn"  data-toggle="modal"
                            data-target="#deleteModal" data-key="{{ .Key}}" data-bucketname="{{ $.BName}}"><i class="fa fa-trash"></i></a>                   
                  </td>
                </tr>
                {{ end }} 
              </tbody>
            </table>    
          </div>
        </div>
      </div>
      
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5 class="modal-question" id="h2Id">Are you sure ? </h5>          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/deleteobjectaction"><button type="button" class="btn btn-danger">YES</button></a>          </div>
        </div>
      </div>
    </div>

    <script>
      $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var fileName = button.data('key') // Extract info from data-* attributes
      var bucketName = button.data('bucketname')
      var modal = $(this)
      $("#h2Id").text('Do you really want to delete the file :  ' + fileName);
      $("a[href*='/deleteobjectaction']").attr('href', '/deleteobjectaction?bucketName=' + bucketName + '&fileName=' + fileName)
    })
    </script>
                    
  {{ template "footer" }}
{{ end }}           
